<md-content layout="column" ng-controller="app.views.sidenav.SidenavController as vmSideBar">

    <div class="user">
        <img class="background" src="/images/userBackground.jpg" />

        <!-- AVATAR-->
        <!-- Not Authenticated -->
        <div ng-show="vmSideBar.UserLoggedService.picture==''" class="avatar" style="align-content:center; background-color:white;">
            <i class="fa fa-user fa-2x avatar" style="position:relative;top:8px;left:13px"></i>
        </div>

            <!-- Authenticated -->
            <!-- User having an picture / avatar-->
        <img ng-show="vmSideBar.UserLoggedService.picture!=''" class="avatar" src="{{vmSideBar.UserLoggedService.picture}}" />

            <!-- User NOT having an picture / avatar-->
        <div ng-show="vmSideBar.UserLoggedService.isAuthenticated" ng-if="USER_LOGGED.picture==''" class="avatar" style="align-content:center; background-color:white;">
            <i class="fa fa-user fa-2x avatar" style="position:relative;top:8px;left:13px"></i>
        </div>
        
        <!-- Display name -->
        <h5 ng-show="vmSideBar.UserLoggedService.isAuthenticated" class="displayName">{{vmSideBar.UserLoggedService.displayName}}</h5>
        <h6 ng-show="vmSideBar.UserLoggedService.isAuthenticated" class="email">{{vmSideBar.UserLoggedService.email}}</h6>

        <!-- login / logout button-->
        <md-button class="login md-raised md-primary"
                   ng-href="/login"
                   layout="column"
                   layout-align="center center"
                   style="padding:10px 10px 10px 10px"
                   ng-hide="vmSideBar.UserLoggedService.isAuthenticated"
                   ng-click="vmSideBar.close()"
                   aria-label="login">
            CONNEXION
            <!--<i class="fa fa-sign-in"></i>-->
        </md-button>
        <md-button class="login md-raised md-primary"
                   ng-href="/logout"
                   layout="column"
                   layout-align="center center"
                   style="padding:10px 10px 10px 10px"
                   ng-show="vmSideBar.UserLoggedService.isAuthenticated"
                   aria-label="logout"
                   ng-click="vmSideBar.close()">
            DECONNEXION
            <!--<i class="fa fa-sign-out fa-2x"></i>-->
        </md-button>

    </div>
    <md-button class="md-primary" ng-href="/" ng-click="vmSideBar.close()">Home</md-button>
    <md-button ng-href="/paints" ng-click="vmSideBar.close()">Paints</md-button>
    <md-button ng-href="/dnd" ng-click="vmSideBar.close()">DnD tests</md-button>
    <md-button ng-href="/adm/users" ng-click="vmSideBar.close()">Users</md-button>
    <div layout-fill style="height:100%;min-height:100%"></div>
    <md-button ng-href="/setup" ng-click="vmSideBar.close()">Setup</md-button>

</md-content>