<md-content class="md-padding">
    <form name="register" ng-submit="vm.submit()" novalidate>
        <h1>Create new account</h1>

        <md-input-container>
            <label>Email address</label>
            <input type="email" name="email" ng-model="vm.email" ng-required="" autofocus ng-maxlength="30" ng-minlength="4">
            <div ng-messages="register.email.$error">
                <div ng-message="required">Email is required.</div>
                <div ng-message="minlength">The name has to be longer than 4.</div>
                <div ng-message="maxlength">The name has to be less than 30 characters long.</div>
                <div ng-message="email">Your email address is incorrect.</div>
            </div>
        </md-input-container>

        <!--
            <div ng-message='serverError'>Request Failed Due to Server Error!</div>
        <div ng-message='notFound'>Not Found!</div>
        <div ng-message='inProgress'> Please Wait! </div>
        <div ng-message='required'> This field is required! </div>
        <div ng-message='minlength'> This field is too short!</div>
        <div ng-message='maxlength'> This field is too long!</div>
        <div ng-message='email'> Email is not valid!</div>
            -->

        <md-input-container>
            <label>Password</label>
            <input name="password" type="password" ng-model="vm.password" ng-required>
        </md-input-container>

        <md-input-container>
            <label>Confirm password</label>
            <input name="password_confirm" type="password" ng-model="vm.passwordConfirm" required>
        </md-input-container>

        <button ng-disabled="register.$invalid" type="submit">
            Submit
        </button>
    </form>
</md-content>
