<div layout="column" layout-fill layout-align="end center">
    <form name="login" ng-submit="vm.submit()" layout="column" layout-align="center center">

        <div layout="row" layout-fill layout-align="center end">
            <h3>Login or <a href="/register">Sign up</a></h3>
        </div>
        <div layout="column" layout-fill>
            <md-input-container>
                <label>email</label>
                <input type="email" ng-model="vm.email" name="email" required autofocus>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="vm.password" class="form-control" required>
            </md-input-container>

            <md-button class="md-primary md-raised" type="submit">Login</md-button>
        </div>

        <br />
        <div class="strike" style="width:100%">
            <span>Or</span>
        </div>
        <br />
        <div layout-fill layout="row" layout-align="space-between center">
            <md-button ng-click="vm.authenticate('google')" class="md-raised" type="button" style="background-color:#C23321;color:#FFF;margin-left:9px;margin-right:9px">
                <i class="fa fa-google-plus">
                    Google
                </i>
            </md-button>
            <md-button ng-click="vm.authenticate('facebook')" class="md-raised" type="button" style="background-color:#2D4373;color:#FFF;margin-left:9px;margin-right:9px">
                <i class="fa fa-facebook"> Facebook</i>
            </md-button>
        </div>
    </form>
</div>